.css-1oqqzyl-MuiContainer-root{
    max-width: 100%;
}
.css-ij330p-MuiToolbar-root{
    background-color: #282828;
}
.css-1274r9c {
    max-width: 100% !important;
}
.MuiAccordionDetails-root {
    padding: 1px 28px 16px !important;
}
.MuiAccordion-root:hover{
    background-color: #f3f8f9;
    }